body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c21;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 1rem;
}

.nav-bar {
  background-color: #001d3d;
  width: 100vw;
  padding: 10px;
  color: white;
}

.btn-dark {
  font-weight: 600;
  color: #fff;
  border: 1px solid gray;
}

.btn-dark:active {
  background-color: grey;
  color: #000;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1100px;
  margin: 5px auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 370px;
  background-color: #2f3037;
  position: relative;
  color: #fff;
  box-shadow: 0px 0px 4px 1px white;
  border: none;
}

.card-img-icon {
  height: 40%;
  width: 100%;
  /* padding: 5px; */
  overflow: hidden;
}

.card-img-icon img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.25s ease;
}

.card-img-icon img:hover {
  scale: 1.1;
}

.card-info {
  margin-top: 15px;
  height: 50%;
  padding: 0px 8px;
  overflow: hidden;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.icon {
  position: absolute;
  top: 110px;
  right: 5px;
}

.btnn {
  width: 40px;
  height: 40px;
  background-color: #f0f0f1;
  border: 1px solid gray;
  border-radius: 50%;
}

.filter-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 100px;
}

.btn {
  font-weight: 600;
}
